body {
  background-image: url("background.jpg");
  font-family: "NotoColorEmoji", "Apple Color Emoji";
  display: flex;
  flex-direction: column;
}

.expand {
    flex-grow: 1;
}

.container {
    display: flex;
}

.content {
  font-size: 20vw;
}

.footer {
    flex-direction: column;
    align-items: center;
}

.utterance {
    font-size: 5vh;
    font-family: sans-serif;
    color: saddlebrown;
    text-align: center;
}

@keyframes bounce {
    10%, 90% {
        transform: translate3d(0, -1vh, 0);
    }

    30%, 70% {
        transform: translate3d(0, 2vh, 0);
    }

    50% {
        transform: translate3d(0, -2vh, 0);
    }
}

/* The element to apply the animation to */
.content.hello {
    animation-name: bounce;
    animation-duration: 1s;
}
